#contact_content{
	margin:0 auto 1em auto; 
	width:40%;
	//border:solid red 1px;
	@include breakpoint($tablet) {margin:0;width:100%;div{padding-top:2.5em;}}
	}	



#about_content{
	position:relative;
	margin:0 auto 1em auto; 
	width:90%;
//	p, li{font-size:12px;}
	
//	border:solid red 1px;
//overflow:hidden;
#about_photo{float:left;width:100%;margin: 1em 0;}

	@include breakpoint($tablet) {

		margin:0;
		padding-top:2.5em;

		width:73%;
		width:80%;

		#about_text {width:48%;float:left; }

			

		}
	}		


#column_right {
//p{font-size:0.84375em;}

@include breakpoint($tablet) {float:right;width:45%;padding-left:0%;}


}

// p{p{font-size:0.84375em;}}