// break points vars

//$phone_small:max-width 30em;
//$phone_big:max-width 47.938em;
$tablet: 767px;
$flag: 30em;
$tablet_hor: 1050px;
$arbitrary: 1100px;
$big_screen: 1080px;
$biggest_screen: 1200px;
$arb800: 800px;
$arb900: 900px;
$arb1000: 1000px; 
$arb400: 400px; 
$arb500: 500px; 
$arb600: 600px; 
$arb700: 700px; 





