
<button title="Previous (Left arrow key)" (click)="clickArrow($event)" type="button" class="arrow arrowLeft"></button>
<button title="Next (Right arrow key)" (click)="clickArrow($event)" type="button" class="arrow arrowRight" [ngClass]="{'arrowHover': arrowHover}"></button>

<div class="popBackground"></div>

<div class="newsPopup notVisible" [ngClass]="{'newsText': newsIframe, 'widerBox': !isPortWider, 'andPort': port}" *ngIf="!!newsText">
    <div class="news_pop_text_main" [innerHtml]="newsText" mycolumns [coulmnsData]="coulmnsData" (columsClasses)="columsClasses($event)"
        (newsPopAspect)="newsPopAspect($event)" (portWider)="portWider($event)" (portraitNewsPhotos)="portraitNewsPhotos($event)"
        (toTallBox)="toTallBox($event)"></div>
</div>


<div class="popUpWrap" (click)="clickBox($event)">
    <div class="popUpContainer" [ngClass]="{'portrait': wider && !isItNews, 'landscape': !wider && !isItNews,
     'iframe': isIframe, 'photo100height': photo100height, 'portNews': widerNews && isItNews, 
     'portNewsWider': widerNews && isItNews&&isPortWider, 'landNews': !widerNews && isItNews, 
     'tooTall': !widerNews && isItNews && isItTooTall}">

        <div class="mediaDiv" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" [ngClass]="{'longText': down, 'mediaWidth': down}">
            <img *ngIf="!!currentPhoto && !currentIfame" [src]="currentPhoto" />

            <img *ngIf="!!currentIfame && !currentPhoto" class="ratio" src="../img/aspect.gif" />
            <iframe *ngIf="!!currentIfame && !currentPhoto" [src]="currentIfame" width="" height="" frameborder="0" webkitallowfullscreen=""
                mozallowfullscreen="" allowfullscreen=""></iframe>

            <div class="textDiv" [ngClass]="{'land': !wider && !isItNews && !isIframe, 'portIframe': isIframe}" *ngIf="!!text" [innerHtml]="text"></div>

        </div>

        <div class="newsPopup" [ngClass]="{'newsText': newsIframe, 'down': down, 'up': !down, 'widerBox': !isPortWider, 'andPort': port}" *ngIf="!!newsText">
            <div class="news_pop_text_main" [innerHtml]="newsText"></div>
        </div>

    </div>
</div>