@import '../style/_reset';
@import '../style/_normalize';
@import '../style/_mixins';
@include global-reset;



html { 
    width: 100%; 
    overflow-x:hidden; 
    font-size: 62.5%;
}

body { 
    font-family:helvetica; 
    width: 100%; 
    overflow-x: hidden;
}

img, iframe { 
    border: none; 
    width: 100%;
    display: block;
}

iframe { 
    position:relative; 
    z-index:1000; 
}


::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent;
}

 ::-webkit-scrollbar-thumb {
     background: #393812;
     -webkit-border-radius: .1rem;
     -webkit-box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.75);
 }

 ::-webkit-scrollbar-corner {
     background: #000;
 }

a { 
    text-decoration:none;
    color: #7b7c7e; 
    font-family:helvetica;
    font-size: 1.44rem; 
    word-wrap: break-word;
} 

a:active,a:hover, a:visited{ outline:0 }

p, p li, p a, span, li  { 
    font-family:verdana;
    font-size:1.2rem;
    color:#adb0b5;
    line-height: 130%;
}

h1, h2 {
    font-family:verdana;
    font-size:1.2rem;
    color:#adb0b5;
}

h3 p {
    font-size: 1.7rem;
    font-family: "Times New Roman", Times, serif;
    color: #434341;
}

@-moz-document url-prefix() {
    html{
        overflow-y:scroll;
        height:100%;
    }
}

.content {
    position: absolute; 
    width: 90%; 
    left: 5%; 
    margin-bottom: 4rem;
    background: transparent;
    min-width: 35rem;
    top: 9.1rem;
        
        @media only screen and (min-width:370px) { 
            @include calc(top, '7.734015345268542vw + 6.42rem');
        }    
        
        @media only screen and (min-width:736px) { 
            top:0; 
            margin-top:5rem;
            left:16.5%;
            height:100%;
            width:82.2%;
            margin-left: 3.08rem;
            max-width: 120rem;
            z-index:1;    
            min-width: initial;
        } 
}

.contentFix {
    position: fixed;
}

.animation {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}





.logo_shell {
	width: 56%;
    margin: 1.6rem auto 1.2rem auto;
        @media only screen and (min-width:736px) { 
        width:100%;
        margin:0 0 1.2rem;  
        }
}

.menu_comp {
	display:none;
	position:absolute;
	top: 4.08rem;
	@media only screen and (min-width:736px) {
        display:block;
    }	
}

.menu_comp_li {
    margin-bottom:-.16rem; 
}

.menu_comp_a {
    font-size: 1.44rem;
}

.mob_menu_wrap {
	display:block;
	background:black;
	width:100%;
		@media only screen and (min-width:736px) {
            display:none;
        }
}

.down {
    background:white; 
    position: fixed; 
    bottom: 0;
    height: 4rem;
}

.menu_phone {
	position:relative;
	width:95%;
	margin:0 auto;
	height: 2.88rem;
	padding-top: .4rem;
}

.menu_phone_li {
    float: left;
    position: relative;
    padding: .25rem 0 0 0;
    text-align: center;
    width: 25%;
    font-size: 1.3rem; 
        @media only screen and (min-width:370px) {
            font-size:1.44rem; 
        }
}

.menu_phone_a {
    color: #dedfe1; 
    padding:1.6rem;
}

.menu_down {
    margin-bottom:0;
    top: 50%;                       
    transform: translateY(-50%); 
}

.menu_phone_li_down {
    background:white;
    width:50%;
}

.menu_phone_a_down {
    color: #808285;
}

.header {
    position: fixed;
    width: 100%;
    background: white;
    min-width: 35rem;
    z-index: 1;
        @media only screen and (min-width:736px) { 
            width:10.5%;
            padding-left: 0%;
            left:5.7%;
            top:5rem; 
            min-width: initial; 
        }
}

.smallerIndex {
    z-index: - 1;
}

.submenu {
    position: absolute;
    max-height: 0;      
    overflow-y: hidden;
    width: 10rem;
        @include vendor-prefix(transition, max-height 1s ease-in-out);  
}

.subMenuShow {
    max-height: 14rem;            
}

.restMenu {
    position: absolute;
    top: 1.5rem; 
        @include vendor-prefix(transition, top 1s ease-in-out); 
}

.restMenuUp {
    top: 14rem; 
}

