#news_content_wrap{

position: relative;
	width:91.7%;
	margin:0 auto;


	@include breakpoint($tablet) {
		
		left:0%;
		margin:0;
		}


}

.newsTextWrap {
    
    
                @include breakpoint($tablet) {    
                	width: 23%;    
                }

    float:right;
	margin-bottom: 1em;
     padding: 13px 1.8% 0 1.8%;
	 display:inline;
        
    &.down {
      width: auto; 


            @include column-count(1);
            @include column-rule(0.125em outset #dedfe1);
            @include vendor-prefix(column-gap, 2.500em);  

                @include breakpoint($tablet) {    
                    @include column-count(2);
                    @include column-rule(0.125em outset #dedfe1);
                    @include vendor-prefix(column-gap, 2.500em);   
                }
    }
    
    
                &.notVisible{
                    visibility: hidden;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    width: 23%;
					@include column-count(1);
             
            }  
    
    
    
}



.news {

display:none;
   cursor:n-resize; 

    &.autoHeight{
        height: auto;
    }
    
.news_image{ 
    
    @include aspect-ratio(1, 1.41621621621621);    
    margin-bottom: 1em;
    overflow: hidden; 
    

    
    } 
overflow:hidden;
&:nth-child(1) { 


	display:block;
	background: black;  



.news_image{
   
    
    overflow:hidden;img{width:100%;min-width:100%;max-width:100%;}
      margin-bottom: 0;   
    @include aspect-ratio(16, 9.54);
    }
    width:100%;


						@include breakpoint($tablet) {
                            
                            .news_image {
                            
                            float:left;
                             width: 77%;
                            
                                &.longText{  width: 100%; }
                            
                            }
                        }


div {h1{padding:0;}}

}
	
margin:0 0 1.5em 0;

		
				div {h1{padding:1.35em 0.2em 0.45em 0;}}



@include breakpoint($tablet) {	

	display:block;
	width: 20%;
	float:left;
	margin:0 3.33333333333333% 2em 3.33333333333333%;
		}

	


}


.news_caption{

	background:white;
	color:#58595b;
	float:left;
	width:100%;
	padding:0.6em 0.2em 0.45em 1.5em;
	text-align:center;
}

@include breakpoint($tablet) {

										

										.news:nth-child(4n-2){margin:0 3.33333333333333% 2em 0;}	
								
										.news:nth-child(4n+1){margin:0 0 2em 3.33333333333333%;}	
									
										.news:first-child {margin:0 0 2.6em 0;width: 100%;}

						
						}



div[id^="popup_id"] {
   
    width:90%;
   position:relative;
   margin:0 auto;
	overflow: hidden;



              .news_pop {
              	overflow: hidden;
              	float:left;
              }

             




              .news_pop2 {

              	width:100%;

              	overflow: hidden;
              	float:left;
              	height: 100%;
              }

              .news_pop_text2 {

              	float:none;
             padding:0.35em 0.2em 0.65em 0.5em;
              	overflow: hidden;
              	word-break: break-all;

		              	h1{color:white;}
		              	p{color:white;}


              }

}



 .news_pop_text {

              	width:100%;
              	float:none;
              	overflow: hidden;
          margin-top: -3px;
           float:left;
           padding: 1em 0.5em 0.5em 0.8em;

	             	@include breakpoint($tablet) {
	             		 margin-top: 0px;
	             		 float:none;
	             		 padding: 13px 1.8% 1.3em 1.8%;
	             	}

 		h1, h2, p, span {font-weight: 500;color:#dedfe1;a{font-weight: 500;color:#dedfe1;word-wrap: break-word;text-decoration:underline;}}
 		h1, h2 {margin-bottom:1em}
 		h1, h2{word-wrap: break-word;}

 		
              

              }

		.news_pop_text_main {

            span {color: #dedfe1;}
							
							position:relative;
							cursor:n-resize;
							width:100%;
							float:left;


							a{cursor:pointer;}

					@include breakpoint($tablet) {
						top:0;
						}

 		h1, h2, p {font-weight: 500;color:#dedfe1;a{font-weight: 500;color:#dedfe1;word-wrap: break-word;text-decoration:underline;}}
 		h1, h2 {margin-bottom:1em}
 		h1, h2{word-wrap: break-word;}

            

            
            &.wider{
		width:100%;
	}
            
            
      
            
            
            

		}



#clear {width:100%;clear:both;}

#older{width:45.85%;float:left;padding-left:1%;cursor:pointer;border:solid transparent 1px;}
#newer{width:45.85%;float:left;text-align:right;padding-right:1%;cursor:pointer;border:solid transparent 1px;margin-left:4.15%;@include breakpoint($tablet) {margin-left:0}}






.news_main_box{overflow:hidden;}

.layoutArea { font-size: 12px;}




