#page_content_wrap {

	position: relative;
	width:91.7%;
	margin:0 auto;

	//overflow: hidden;		
	// border:solid green 1px;
		@include breakpoint($tablet) {

			
		
	
		left:64.3%;
		left:0%;
		
		margin:0;

		}


}


.photos_left {
	

	// border:solid blue 1px;
	overflow: visible;	
		@include breakpoint($tablet) {
//		opacity:0;
		position:relative;
	//	overflow: hidden;
	//	margin-left:-70%;
		margin-left:0%;
		width:70%;
	//	width:50%;
		float:left;

		}
	
}



					
					.photo_loop {


									display:none;
									&:first-child {display:block;}
									overflow: hidden;


									@include breakpoint($tablet) {

											display:block;
											position:relative;
											// width:20%;
											float:left;
											// margin:0 3.33333333333333% 2em 3.33333333333333%;



											
											
											// // leva
											// &:nth-child(4n-2) {margin:0 3.33333333333333% 2em 0%; }
											// //desna
											// &:nth-child(4n+1) {margin:0 0% 2em 3.33333333333333%; }
											&:first-child {width:100%;margin:0 0 2.6em 0;
                                        
                                                &.portrait { width: 73%; }
                                            
                                                }





											

									}
							}



		


	




	



#text_right {
		
		margin:0 0 2em 0;
		position:relative;
		top:0;	
		left:0;
		@include breakpoint($tablet) {
			position:absolute;
			width:28%;
			margin:0 0 1em 2%;	
			top:0;	
			left:70%;			

            
            &.smaller {left:51%; }
            
            
		}

			h1 { font-weight:600; margin: 1em 0;@include breakpoint($tablet) {margin:0 0 1em 0;font-weight:600; }}

			a {text-decoration:underline;font-family: verdana; color: #adb0b5;}

}



.photos_left2 {

	display:none;	
		@include breakpoint($tablet) {
		display:block;	
		margin-left:0%;
		width:66%;
		width:95%;
        left: 2.65%;
        overflow: hidden;
		position:absolute;            
		}
	
}

.carousel_div{

	position:relative;
    width: auto;
    height: auto;
    white-space: nowrap;
@include transition(all 500ms ease-in-out); 
}

.photo_loop2 {

    width: 20.5%;  
    display:inline-block;
    vertical-align:top; 
   
    overflow:visible;
    word-break:break-word;
    white-space: normal;    
    					
									
									overflow: hidden;


									@include breakpoint($tablet) {

											
											position:relative;
											margin:0 6% 2em 0%;
                                        .photo_box{
       
                                            position: relative;
                                            @include aspect-ratio(16, 10.6832298136646);
                                            

                                        }




											

									}
							}


.arrow_post{
    width:1.4%;position:absolute; display:none; 
    @include breakpoint($tablet) {display:block;}
    &.disableButton{
    opacity: 0.5;
        &:hover{
        cursor: default;
    }
    }
    z-index: 20;
    &:hover{
        cursor: pointer;
    }
}


.arrow_post_left{
    margin-right:1%;
    left:0;
    
   
    
}
.arrow_post_right{
    margin-left:1%;
    right:0;
}



#clear {width:100%;clear:both;}





