// shell page (work) specific styles

#logo_shell{

	width:56%;
	margin:1em auto 0.75em auto;
}



.menu_comp {

	display:none;
	position:absolute;
	top:2.55em;
		li { margin-bottom:-0.1em; }


	@include breakpoint($tablet) {display:block;}
		
		}


.mob_menu_wrap{
display:block;
background:black;

width:100%;

&.down{background:white; position: fixed; bottom: 0;height: 40px;}
    
	@include breakpoint($tablet) {display:none;}
}

.menu_phone {

	
	position:relative;
	
	width:95%;
	margin:0 auto;
	height:1.8em;
	margin-bottom:10px;
	padding-top: 4px;

		li {
			float:left;
			position:relative;
			padding:0.15em 0 0 0;
			text-align:center;
			width:25%;
	   
			       a{color: #dedfe1;padding:1em;}
			      
			}


		

		&.menu_down{

            margin-bottom:0;
            top: 50%;                       
            transform: translateY(-50%); 
			
				li {background:white;width:50%;a{color: #808285;}}

			}

				

				
	}

.content{ 
    
    position: absolute; 
    width: 90%; 
    left: 5%; 
    top:92px;
    margin-bottom: 40px;
	background: transparent;
	
    
    @include breakpoint($arb400) {top:100px;} 
    @include breakpoint($arb500) {top:107px;} 
    @include breakpoint($arb600) {top:115px;} 
    @include breakpoint($arb700) {top:120px;} 
    @include breakpoint($tablet) {top:0;} 
    
    
   }

header {
    position: fixed;
    width: 100%;
    z-index: 240;

}

@include breakpoint($tablet) {
				header{
                       
						width:10.5%;
						padding-left: 0%;
						
                        
                    left:5.7%;
                    top:3.125em;
						}
    
    				#logo_shell {

						width:100%;
                        
						margin:0 0 .75em;

						}	
    
    .content{
        

    margin-top:3.125em;
    left:16.5%;
	height:100%;
	width:82.2%;
    margin-left: 1.925em;
    max-width: 1200px;
    z-index:1;    
  
 	&.seethrou{
		 background: white;
	 }       
        
    }
    

	.animation {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;

	}
    





				section	{
						
						
						float:left;
						width:100%;
						margin-bottom: 2em;
						position:relative;
						margin-left: -3%;
					
					
						}
				
		

			



}


#sub_menu{
	text-transform: lowercase;
	margin-bottom:0.7em;

		li{a{color:#adb0b5;} cursor: pointer; }

}



.subMenuHide, .subMenuShow{
    position: absolute;
    max-height: 0;      
    overflow-y: hidden;
    width: 100px;
   @include vendor-prefix(transition, max-height 1s ease-in-out);  
    
   
}

.subMenuShow{
    
    max-height: 140px;            
    
}

.restMenuUp,  .restMenuDown {
    position: absolute;
    top: 15px; 
     @include vendor-prefix(transition, top 1s ease-in-out); 
}

.restMenuUp {
    top: 140px; 
}
