// splash page (index) specific styles
   
#splash-wrap {
	
	position: absolute;
	top:0;
	left:0;
	z-index: 2;
	height:100%;
	min-height:500px;
	width:100%;
	margin: 0 auto 0 auto;
	overflow:hidden;
	color: #434341;
	font-family: "Times New Roman", Times, serif;

 

	//background-image: url(images/animal.jpg);

	 background-repeat:no-repeat;background-attachment:fixed;background-position:center;@include vendor-prefix(background-size, cover);	

filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.animal.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='animal.jpg', sizingMethod='scale')";

		h1{text-align: center;top:30%;position:relative;text-shadow: -2px 2px 4px rgba(150, 150, 150, 0.88);@include breakpoint($tablet) {}}
		h2{text-align: center;top:40%;position:relative;@include breakpoint($tablet) {}}


				#logo {
				width: 50%;
				left:25%;
				margin: 0 auto;
				position: absolute;
				z-index: 2;
				bottom:60px;
					@include breakpoint($tablet) {width: 35%;left:32.5%;bottom:45px;}

				}


						h3 p {
						position:absolute;
						width:100%;
						
						
						
						text-align:center; 
                        word-spacing:2px;
						z-index: 2;
					//	bottom:230px;
						
						bottom:6px;

					//	@include breakpoint($tablet) {bottom:6px;}
						}

							
}

.spinner {
position: fixed;
			top: 50%;
			
			left: 50%;
			margin-left: -10px; 
			margin-top: -10px; 
			text-align:center;
			z-index:1;
			overflow: auto;
			width: 20px; 
			height: 20px; 
			
			}
//
//.spinner2		{
//			position: absolute;
//			top: 32%;
//			
//			left: 0%;
//			// margin-left: -20px; 
//			// margin-top: -20px; 
//			text-align:center;
//			z-index:0;
//			overflow: auto;
//			display:none;
//
//			
//			}	
//
//.spinner3		{
//			position: absolute;
//			top: 45%;
//			
//			left: 49.5%;
//			margin-left: -20px; 
//			margin-top: -20px; 
//			text-align:center;
//			z-index:0;
//			overflow: auto;
//			width: 20px; 
//			height: 20px; 
//
//			
//			}				