<div class="spinner" *ngIf="!nextFlag" style="position: fixed; top: 50%; left: 50%; width: 20px; height: 20px; margin-top: -10px; margin-left: -10px;"><img style="width: 100%;" src="img/spinner.gif" alt="loading"/></div> 
<div class="content">
    <div [@routeAnimationFake]="nextFlag" id="page_content_wrap">
            <div class="photos_left">
                    <div myorientation class="photo_loop" [ngClass]="{'portrait': isPortrait}" (isItPortrait)="isItPortrait($event)" (isTextTooLong)="isTextTooLong($event)">
                            <img class="destimain" src="{{firstPhoto}}" (click)='popUpActivate(0)'>
                    </div>
                    <div id="clear"></div>
                     <my-carousel-directive [carouselObject]="carousel" (whichPhoto)="popUpActivate($event)"></my-carousel-directive>
             </div> 

            <div id="text_right" [ngClass]="{'smaller': isTextLong}">
                <h1 class="project_title">{{headline}}{{sub}}</h1>
                <div><p [innerHtml]="content"></p></div>	
            </div>     
    </div>
</div>


<my-pop-up-init (onPopOff)="onPopOff()" *ngIf="htmlObject" [contentObject]="htmlObject"></my-pop-up-init>
